body {
	margin: 0;
}

.navbar {
	height: 100px;
	background-color: #333;
	color: white;
	text-align: center;
	font-size: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.maintext {
	height: 200px;
	background-color: #666;
	color: whitesmoke;
	text-align: center;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.toe {
	height: 75px;
	background-color: #999;
	color: black;
	text-align: center;
	font-size: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
}